{% extends 'base.html' %}

{% block title %}发布博客{% endblock %}

{% block content %}
<div id="container">
    <!--Content-->
    <div id="content">
        <h2>发布博文</h2>
        <div id="content-main">
            <form id="blog_form" enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                <div>
                    {{ bf.as_p}}
                </div>
                <input type="submit" value="保存并发布">
            </form>
        </div>
    </div>
    <!--END Content-->
</div>
{% endblock %}