{% extends 'base.html' %}

{% block title %}{{ blog.title }}学习之路{% endblock %}

{% block content %}

<div class="blog_title">
    <span style="font-size:30px"><a href="{% url 'blog_get_detail' blog.id %}">{{ blog.title }}</a></span>
</div>
<!--再次编辑-->
<a class="blog_edit" href="{% url 'blog_edit' blog.id %}">
    <span class="glyphicon glyphicon-pencil">编辑</span>
</a>

<div class="blog_content">
    <div class="blog">
        <div class="info">
            <span class="category">{{ blog.category }}</span>
            <span class="author">{{ blog.author }}</span>
            <span class="created">{{ blog.created|date:"Y-m-d H:i" }}</span>
        </div>
        <div class="summary">{{ blog.content }}</div>
    </div>
    <div class="comment">
        <div class="comments-display" >
            <h3>评论</h3>
            {% for comment in comments %}
                <div class="comment-field">
                    {{ comment.name }} 说：{{ comment }}
                </div>
            {% endfor %}
        </div>
        <div class="comment-post">
            <h3>提交评论</h3>
            <form action="{% url 'blog_get_detail' blog.id %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <table class="input-field">
                        <tr>
                            <td>
                                {{ field.label }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                              {{ field }}
                            </td>
                        </tr>
                    </table>
                    <table class="error">
                        {{ field.error }}
                    </table>
                {% endfor %}
                <button type="submit">提交</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}