{% extends 'base.html' %}

{% block content %}

<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ bf.title.label_tag }}</td>
            <td>{{ bf.title }}</td>
        </tr>
        <tr>
            <td>{{ bf.content.label_tag }}</td>
            <td>{{ bf.content }}</td>
        </tr>
        <tr>
            <td>{{ bf.catagory.label_tag }}</td>
            <td>{{ bf.catagory }}</td>
        </tr>
        <tr>
            <td>{{ bf.tags.label_tag }}</td>
            <td>{{ bf.tags }}</td>
        </tr>
    </table>
    <button type="submit">提交修改</button>
</form>

{% endblock %}